{
  "env": {
    "node": true,
    "browser": true,
    "amd": true
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "globals": {
        "JSX": true
      }
    },
    {
      "files": ["./vite.config.ts"],
      "rules": {
        "no-console": "off",
        "complexity": "off"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["tsconfig.json"]
  },
  "extends": ["plugin:react/recommended", "plugin:@typescript-eslint/recommended", "eslint:recommended"],
  "plugins": ["react-hooks"],
  "rules": {
    "eqeqeq": ["warn", "smart"],
    "no-nested-ternary": "warn",
    "no-unneeded-ternary": "warn",
    "array-callback-return": "warn",
    "require-await": "warn",
    "no-console": "warn",
    "complexity": ["warn", 15],
    "no-duplicate-imports": 0,
    "react/prop-types": 0,
    "react/display-name": 0,
    "react-hooks/exhaustive-deps": "error",
    "react/jsx-no-useless-fragment": ["error", { "allowExpressions": true }],
    "no-debugger": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-duplicate-imports": "error",
    "@typescript-eslint/no-useless-escape": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "@typescript-eslint/no-unused-expressions": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-interface": "error",
    "@typescript-eslint/no-empty-function": "error",
    "@typescript-eslint/no-unnecessary-type-assertion": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
