.heading {
  text-align: center;
}

.link {
  cursor: pointer;
  display: flex;
  width: 90px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  background-color: white;
  font-size: 14px;
}
